<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Benford's Law</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<h1>Challenge: Benford's Law</h1>
		</div>
	</div>

	<div class="grid-x grid-padding-x">
		<div class="large-8 medium-8 cell">
			<hr>
			<h5>Upload File:</h5>
			<form action="/success" method="post" enctype="multipart/form-data">
				<label>
					<input type="file" name="file" class="button">
				</label>
				<input type="submit" value="Upload" class="button">
			</form>
			<!-- Grid Example -->

			<br/>
			<div class="primary callout">
				<p>Container hostname is <strong>{{ hostname }}</strong> and its IP is <strong>{{ ip }}</strong>, db connection <strong>{{ db }}</strong></p>
			</div>

			{% if image %}
			<hr>
			<h5>Result:</h5>
			<div class="callout success">
				<h5>Graphical Representation</h5>
				<p>Benford Result: {{ array }}</p>
				<p><img src="/loadImage/{{ image }}" alt="Image"></p>
			</div>
			<div class="callout secondary">
				<h5>Other Information</h5>
				<p>File Upload Name: {{ name }}</p>
				<p>Benford Image: {{ image }}</p>
			</div>
			<div class="callout alert">
				<h5>File Parsing Errors</h5>
				<p>{{ errors }}</p>
			</div>
			{% endif %}
		</div>

		<div class="large-4 medium-4 cell" id="history_id">
			<h5>History:</h5>
			<div class="row">
				<div class="columns">
					<table class="stack">
						<thead>
						<tr>
							<th>Name</th>
							<th>Result</th>
							<th>S3</th>
						</tr>
						</thead>
						<tbody id="history_result_id"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/app.js') }}"></script>
<script>
    $.ajax({
        url: "/history",
        type: 'GET',
        success: function (res) {
            console.log(res);
            $('#history_result_id').empty();

            let table_data = '';
            for (let i = 0; i < res.length; i++) {
                table_data += '<tr>';
                table_data += '<td>' + res[i].fileName + '</td>';
                table_data += '<td class="text-wrap">' + res[i].array + '</a></td>'
                table_data += '<td class="text-wrap">' + "<a href='" + res[i].imageLocation + "'>AWS</a></td>'"
                table_data += '</tr>';
            }

            if(res.length === 0) {
                $('#history_id').hide();
			} else {
                $('#history_id').show();
                $('#history_result_id').append(table_data);
			}

        }
    });
</script>
</body>
</html>
